{% extends 'diary/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Логин</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Телефон</label>
        <input type="text" name="phone" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Дата рождения</label>
        <input type="date" name="birth_date" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input type="password" name="password1" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Подтверждение пароля</label>
        <input type="password" name="password2" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}